# Indexing...

In [2]:
import pandas as pd

In [3]:
reviews = pd.read_csv(r"C:\Users\Admin\Desktop\Data Science\Datasets\winemag-data-130k-v2.csv", index_col = 0)  # Read csv
reviews.head()  # Display first five rows

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [4]:
reviews.iloc[6,4]

16.0

## fetch a certain row and assign it to another variable
> We can fetch any `column` in and dataframe in the format </br>

**dataframe.column**

In [19]:
country = reviews.country
country.head()

0       Italy
1    Portugal
2          US
3          US
4          US
Name: country, dtype: object

In [21]:
type(country)  # The type fetched is Pandas Series

pandas.core.series.Series

### Alternate way

In [24]:
points = reviews["points"]  # similar to  dictionary 
points

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points, Length: 129971, dtype: int64

### To select a certain value

In [26]:
first_item = reviews.description.iloc[0]
first_item

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

<font color = sky_blue>*iloc[index]* </font> retrieves the index of the column mentioned in prefix

### To retrive a M x N dataframe
>dataframe.iloc[[rows], [column]]</br>
>`iloc` is used to retrive rowns and columns by indices

In [30]:
reviews.iloc[[5, 6, 7], [1,2,3]]  # retrieve 5,6,7th row and 1,2,3rd column

  country                                        description  points
5   Spain  Blackberry and raspberry aromas show a typical...      87
6   Italy  Here's a bright, informal red that opens with ...      87
7  France  This dry and restrained wine offers spice in p...      87

### Retrive by location
>`loc` retrives rows and columns based on key

In [36]:
new_df = reviews.loc[[1,20,47,76], ["country", "points", "price"]]
new_df

     country  points  price
1   Portugal      87   15.0
20        US      87   23.0
47        US      86   13.0
76   Germany      86    9.0

### Filter certain column and return the values
>Suppose we need to search the column country for 'India' entries

In [40]:
Indian = reviews.loc[reviews.country == "India"]
Indian

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
6673,India,"The nose carries notes of cassis, blackberry a...",Dindori Reserve,93,20.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2011 Dindori Reserve Shiraz (Nashik),Shiraz,Sula
29302,India,A nose of cut herbs and just-mown grass backed...,NaN,89,12.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2015 Sauvignon Blanc (Nashik),Sauvignon Blanc,Sula
37225,India,"Pineapple, grapefruit, and apricot show bright...",NaN,90,10.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2013 Chenin Blanc (Nashik),Chenin Blanc,Sula
56903,India,"Aromas of blackberry, cherry preserves, white ...",Estate Bottled,91,12.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2012 Estate Bottled Shiraz (Nashik),Shiraz,Sula
83622,India,"Pineapple, grapefruit, and apricot show bright...",NaN,90,10.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2013 Chenin Blanc (Nashik),Chenin Blanc,Sula
83634,India,"Aromas of pink grapefruit, grass and coriander...",NaN,90,12.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2013 Sauvignon Blanc (Nashik),Sauvignon Blanc,Sula
88134,India,"Dark violet-red in color, this wine has a bouq...",Estate Bottled,90,13.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2015 Estate Bottled Shiraz (Nashik),Shiraz,Sula
108251,India,"Deep garnet in the glass, this wine has a nose...",Dindori Reserve,92,19.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2014 Dindori Reserve Shiraz (Nashik),Shiraz,Sula
126932,India,This wine features a fresh nose of grapefruit ...,NaN,87,12.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2015 Chenin Blanc (Nashik),Chenin Blanc,Sula

### To add additional filter operation use ampersand &
> Below we used 2 conditions the wines should be from country India and price should be 12

In [42]:
Indian = reviews.loc[(reviews.country == "India") & (reviews.price == 12)]
Indian

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
29302,India,A nose of cut herbs and just-mown grass backed...,NaN,89,12.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2015 Sauvignon Blanc (Nashik),Sauvignon Blanc,Sula
56903,India,"Aromas of blackberry, cherry preserves, white ...",Estate Bottled,91,12.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2012 Estate Bottled Shiraz (Nashik),Shiraz,Sula
83634,India,"Aromas of pink grapefruit, grass and coriander...",NaN,90,12.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2013 Sauvignon Blanc (Nashik),Sauvignon Blanc,Sula
126932,India,This wine features a fresh nose of grapefruit ...,NaN,87,12.0,Nashik,NaN,NaN,Mike DeSimone,@worldwineguys,Sula 2015 Chenin Blanc (Nashik),Chenin Blanc,Sula